<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<form #simpleForm="ngForm">
  FirstName:<input type="text" name="username" placeholder="enter the first name">
  <br><br>
   LasttName:<input type="text" name="user" placeholder="enter thelast name">
  <br><br>
  Age:<input type="text" name="age" placeholder="enter the age">
  <br>
  <br>
  Mobile:<input type="text" name="ph" placeholder="enter the phone no ">
  <br>
  <br>
  Gender:<input type="radio" name="g" checked/>Female
  <input type="radio" name="g" disabled/>Male
  <br>
  <br>
  <button>submit</button>
</form>

  

